@tailwind base;
@tailwind components;
@tailwind utilities;

  body {
    font-family: 'Julius Sans One', 'Inter';
  }

/*fundo com estrelas */
.background-stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  overflow: hidden;
  z-index: -1;
}

@keyframes star {
  0% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.8);
  }
  70% {
    opacity: 0.3;
    transform: scale(0.8);
  }
}

.animate-star {
  animation: star 3s infinite alternate;
}